@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-mulish);
  color: black;
}
ul li a{
  text-decoration: none;
}
ul li a:hover{
  text-decoration: underline;
}

.gradient-background{
  background: linear-gradient(to bottom, #FF9A8B, #FF6A88, #FF99AC);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(15) forwards;
}
